/* Set up CSS Variables - this will let us change fonts around easily without having to change shit all over the place. */
:root {
    --main-font-family: 'Lexend', Arial, Helvetica, sans-serif;
    /* VARIABLE FONTS --> CSS PROPERTY Weight (wght) font-weight (100 "Thin --> 600 "Semibold") Width (wdth) font-stretch (As % of full width. Minimum 62.5%) */

    --header-bg-color: 5,22,60;

    --column-content: 3fr;
    --column-image: 2fr;
    --image-filter: grayscale(100%);

    /* Tidbits Colours: 37a6d6-fce644-9bc53d-e85545-fa8535 */
    --tidbits-orange: 250, 133, 53;
    --tidbits-red: 232, 85, 39;
    --tidbits-yellow: 252, 230, 68;
    --tidbits-green: 155, 197, 61;
    --tidbits-blue: 55, 166, 214; 

}

body {
    font-family:var(--main-font-family);
    text-align: center;
    color:#fff;
}

section {
    height:100vh;
    vertical-align: middle;
    display:grid;
}
section:nth-of-type(1) { 
    background-color: rgb(var(--tidbits-orange));
    display:block;
}
section:nth-of-type(2) { 
    background-color: rgb(var(--tidbits-red));
    grid-template-columns: var(--column-content) var(--column-image);
}
section:nth-of-type(2) div:nth-of-type(2) {
    background-image:url("img/instapic1.jpeg");
    background-size:cover;
    background-position: center;
    filter: var(--image-filter);
}

section:nth-of-type(3) { 
    background-color: rgb(var(--tidbits-blue));
    grid-template-columns: var(--column-image) var(--column-content);
}
section:nth-of-type(3) div:nth-of-type(1) {
    background-image:url("img/bg\ low\ res.jpg");
    background-size:cover;
    background-position: center;
    filter: var(--image-filter);
}

section:nth-of-type(4) { 
    background-color: rgb(var(--tidbits-green));
    grid-template-columns: var(--column-content) var(--column-image);
}
section:nth-of-type(4) div:nth-of-type(2) {
    background-image:url("img/science.webp");
    background-size:cover;
    background-position: center;
    filter: var(--image-filter);
}

section:nth-of-type(5) { 
    background-color: rgb(var(--tidbits-yellow));
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size:8em;
    font-weight:800;
    line-height:1em;
    padding:1.75em 0 0.5em;
}
h2 {
    font-size:2em;
    font-weight:225;
    margin-top:1em;
}
h2 a {
    cursor: pointer;
}
h3 {
    font-size:6em;
    font-weight:550;
    line-height: 1em;
    margin:7rem 3rem 2rem;
}

a, a:link, a:visited, a:active, a:hover {
    color:#fff;
    text-decoration: none;
    border-bottom: 0.05em rgba(255, 255, 255, 0.7) dotted;
}
a:hover {
    border-bottom:rgba(255,255,255,1) solid;
}

section p {
    font-size:1.75em;
    font-weight:250;
    margin-bottom:.75em;
}
section p:last-child {
    margin:2em 0 0 0;
}